# 1.List
i) Create a list named as Vehicle, in this list contains some vehicle names  wagons, bicycles,
motor vehicles, cars, railed vehicles, watercraft, aircraft and spacecraft.

ii) create another list named as four wheeler contains Van ,Taxi, Police car, Bus, Ambulance

iii) Reverse the Vehicle list

iv) Iterate both lists simultaneously such that list1 should display item in original order and list2
in reverse order

v) Remove empty strings from the list of strings

In [71]:
Vehicle=['wagons','bicycles','motor vehicles','cars','railed vehicles','watercraft','aircraft','spacecraft']
print("list1 created:",Vehicle)
print()
l=len(Vehicle)
four_wheeler=['Van','taxi','Police car','Bus','Ambulance']
print("list2 created:",four_wheeler)
print()
#REVERSING VECHILE LIST
print("reversing")
Vehicle.reverse()
print(Vehicle)
print()
#Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order
lv=len(Vehicle)
lf=len(four_wheeler)
four_wheeler.reverse()
if(lv<lf):
    large=lf
else:
    large=lv
for i in range(large):
    if i<len(Vehicle):
        print(Vehicle[i])
    if i<len(four_wheeler):
        print(four_wheeler[i])
        print()
# removing empty string
a=['guru','bharan','',"by their appearance","don't judge anyone skills",'','nmg']

print("Before removing empty strings")
print(a)
c=a.count('')
for i in range(c):
    a.remove('')
print()
print("After removing empty strings")
print(a)    

#Vehicle=['hercules','Duke','Jaguar','battleship','rairoad car','fighter','Rover']

list1 created: ['wagons', 'bicycles', 'motor vehicles', 'cars', 'railed vehicles', 'watercraft', 'aircraft', 'spacecraft']

list2 created: ['Van', 'taxi', 'Police car', 'Bus', 'Ambulance']

reversing
['spacecraft', 'aircraft', 'watercraft', 'railed vehicles', 'cars', 'motor vehicles', 'bicycles', 'wagons']

spacecraft
Ambulance

aircraft
Bus

watercraft
Police car

railed vehicles
taxi

cars
Van

motor vehicles
bicycles
wagons
Before removing empty strings
['guru', 'bharan', '', 'by their appearance', "don't judge anyone skills", '', 'nmg']

After removing empty strings
['guru', 'bharan', 'by their appearance', "don't judge anyone skills", 'nmg']

In [23]:
# removing empty string
a=['guru','',"hi","we are strong enough",'','nmg']
print("Befor removing")
print(a)
c=a.count('')
for i in range(c):
    a.remove('')
print("after removing")
print(a)

Befor removing
['guru', '', 'hi', 'we are strong enough', '', 'nmg']
after removing
['guru', 'hi', 'we are strong enough', 'nmg']

# 2.Tuples
i) Unpack the following tuple into 4 variables

aTuple = (10, 20, 30, 40)

Expected output:

aTuple = (10, 20, 30, 40)

#Your code
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

In [26]:
aTuple=(10,20,30,40)
print(aTuple)
a=aTuple[0]
b=aTuple[1]
c=aTuple[2]
d=aTuple[3]
print(a)
print(b)
print(c)
print(d)

(10, 20, 30, 40)
10
20
30
40

# ii) Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

In [27]:
tuple1,tuple2=(11, 22),(99,88)
print("before swapping")
print(tuple1)
print(tuple2)

print("After swapping")
tuple1,tuple2=(99, 88),(11, 22)
print(tuple1)
print(tuple2)

before swapping
(11, 22)
(99, 88)
After swapping
(99, 88)
(11, 22)

# iii) Counts the number of occurrences of item 50 from a tuple

tuple1 = (50, 10, 60, 70, 50)

In [9]:
tuple1 = (50, 10, 60, 70, 50)
c=tuple1.count(50)
print("50 has",c,"times in this Tuple named tuple1")

50 has 2 times in this Tuple named tuple1

# 3.Sets

i) Returns a new set with all items from both sets by removing duplicates

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{70, 40, 10, 50, 20, 60, 30}

In [33]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Set=set1.union(set2)
print(Set)

{70, 40, 10, 50, 20, 60, 30}

# ii) Given two Python sets, update the first set with items that exist only in the first set and
not in the second set.
set1 = {10, 20, 30}
set2 = {20, 40, 50}
Expected output:
set1 {10, 30}

In [35]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
S=set1.difference(set2)
print(S)

{10, 30}

# iii) Check if two sets have any elements in common. If yes, display the common elements.

In [42]:
set1={10,20,50,40,99,87,55}
set2={50,6,32,99,87,55,90}
i=set1.intersection(set2)
print(i)
for j in i:
    print(j)

{50, 99, 87, 55}
50
99
87
55

# 4) Dictionary
i) Below are the two lists convert it into the dictionary
 keys= ['Ten','Twenty','Thirty']
 values=[10,20,30]

In [39]:
keys= ['Ten','Twenty','Thirty'] 
values=[10,20,30]
d={}
for i in keys:
    for j in values:
        d[i]=j
        values.remove(j)
        break
print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# ii) Merge following two Python dictionaries into one
dict1={'Ten':10,'Twenty':20,'Thirty':30}
dict2={'Fourty':40,'Fifty':50}
Expected output:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'FOurty': 40, 'Fifty': 50}

In [32]:
dict1={'Ten':10,'Twenty':20,'Thirty':30}
dict2={'Fourty':40,'Fifty':50}
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# iii) Create a new dictionary by extracting the following keys from a below dictionary
Given dictionary:
sampledict={'name':'kelly','age':25,'salary':8000,'city':'New York'}

Keys to extract: keys ={'name','salary'}

In [9]:
sampledict={'name':'kelly','age':25,'salary':8000,'city':'New York'}
keys=['name','salary']
for i in keys:
    new_dict[i]=sampledict[i]
print(dict(new_dict))

{'name': 'kelly', 'salary': 8000}

In [10]:
sampledict={'name':'kelly','age':25,'salary':8000,'city':'New York'}
new_dict={}
new_dict={sampledict.values()}
print(new_dict)

{dict_values(['kelly', 25, 8000, 'New York'])}

In [81]:
a=sampledict['name']
print(a)
print(type(sampledict))

kelly
<class 'dict'>

In [80]:
a=('name','age')
b=('kelly',250)
c=dict.fromkeys(a,b)
print(c)

{'name': ('kelly', 250), 'age': ('kelly', 250)}